In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.read_csv('gemstone.csv')
df.set_index('id', inplace=True)

df

        carat        cut color clarity  depth  table     x     y     z  price
id
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [4]:
cut_map={"Fair":1,"Good":2,"Very Good":3,"Premium":4,"Ideal":5}
clarity_map = {"I1":1,"SI2":2 ,"SI1":3 ,"VS2":4 , "VS1":5 , "VVS2":6 , "VVS1":7 ,"IF":8}
color_map = {"D":1 ,"E":2 ,"F":3 , "G":4 ,"H":5 , "I":6, "J":7}
df['cut']=df['cut'].map(cut_map)
df['clarity'] = df['clarity'].map(clarity_map)
df['color'] = df['color'].map(color_map)
df

        carat  cut  color  clarity  depth  table     x     y     z  price
id
0        1.52    4      3        4   62.2   58.0  7.27  7.33  4.55  13619
1        2.03    3      7        2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70    5      4        5   61.2   57.0  5.69  5.73  3.50   2772
3        0.32    5      4        5   61.6   56.0  4.38  4.41  2.71    666
4        1.70    4      4        4   62.6   59.0  7.65  7.61  4.77  14453
...       ...  ...    ...      ...    ...    ...   ...   ...   ...    ...
193568   0.31    5      1        6   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    4      4        6   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73    3      3        3   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34    3      1        3   62.9   55.0  4.45  4.49  2.81    681
193572   0.71    2      2        2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]

In [5]:
df.describe(include='all')

,carat,cut,color,clarity,depth,table,x,y,z,price
count,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000,193573.000000
mean,0.790688,4.132152,3.516157,3.975084,61.820574,57.227675,5.715312,5.720094,3.534246,3969.155414
std,0.462688,0.994157,1.623091,1.501776,1.081704,1.918844,1.109422,1.102333,0.688922,4034.374138
min,0.200000,1.000000,1.000000,1.000000,52.100000,49.000000,0.000000,0.000000,0.000000,326.000000
25%,0.400000,3.000000,2.000000,3.000000,61.300000,56.000000,4.700000,4.710000,2.900000,951.000000
50%,0.700000,4.000000,4.000000,4.000000,61.900000,57.000000,5.700000,5.720000,3.530000,2401.000000
75%,1.030000,5.000000,5.000000,5.000000,62.400000,58.000000,6.510000,6.510000,4.030000,5408.000000
max,3.500000,5.000000,7.000000,8.000000,71.600000,79.000000,9.650000,10.010000,31.300000,18818.000000

In [6]:
from sklearn.preprocessing import StandardScaler
x = df.drop(labels=['price'],axis=1)
y = df[['price']]


from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
x_cv, x_test, y_cv, y_test = train_test_split(x_test, y_test, test_size=0.3, random_state=42)

scaler = StandardScaler()

x_train_s = scaler.fit_transform(x_train)
x_test_s = scaler.transform(x_test)
x_cv_s = scaler.transform(x_cv)

# Convert the scaled data back to a DataFrame
x_train = pd.DataFrame(data=x_train_s, columns=x_train.columns)
x_test = pd.DataFrame(data=x_test_s, columns=x_train.columns)
x_cv = pd.DataFrame(data=x_cv_s, columns=x_train.columns)

# Display the first few rows of the scaled DataFrame
x_train.head()

,carat,cut,color,clarity,depth,table,x,y,z
0,-0.823144,0.874100,-0.936747,1.350746,-1.129988,-0.641897,-0.780451,-0.835103,-0.876024
1,0.945023,-1.137644,0.910853,0.684455,-1.777823,0.921902,1.073226,1.166389,0.946633
2,1.958484,-0.131772,0.910853,0.018164,0.165682,0.400636,1.703116,1.755063,1.742237
3,-0.995648,0.874100,-0.320880,2.017037,-0.574701,-0.641897,-1.122391,-1.161138,-1.165334
4,-0.995648,-1.137644,1.526720,-0.648127,0.258230,0.400636,-1.176382,-1.152082,-1.136403

In [10]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.linear_model import BayesianRidge, HuberRegressor, PassiveAggressiveRegressor, \
    TheilSenRegressor, ARDRegression

models = {
    'LinearRegression': LinearRegression(),
    'Lasso': Lasso(),
    'Ridge': Ridge(),
    'ElasticNet': ElasticNet(),
    'DecisionTreeRegressor': DecisionTreeRegressor(),
    'RandomForestRegressor': RandomForestRegressor(),
    'GradientBoostingRegressor': GradientBoostingRegressor(),
    'AdaBoostRegressor': AdaBoostRegressor(),
    'SVR': SVR(),
    'KNeighborsRegressor': KNeighborsRegressor(),
    'MLPRegressor': MLPRegressor(),
    'BayesianRidge': BayesianRidge(),
    'HuberRegressor': HuberRegressor(),
    'PassiveAggressiveRegressor': PassiveAggressiveRegressor(),
    'TheilSenRegressor': TheilSenRegressor(),
    'ARDRegression': ARDRegression()
}

trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(x_train,y_train)

    #Make Predictions
    y_pred=model.predict(x_test)

    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 1007.1422278386895
MAE: 674.8975998089421
R2 score 93.79046374363631
===================================


Lasso
Model Training Performance
RMSE: 1007.480297520387
MAE: 676.0709699173268
R2 score 93.78629430615547
===================================


Ridge
Model Training Performance
RMSE: 1007.155692931324
MAE: 674.9335222268048
R2 score 93.79029770444636
===================================


ElasticNet
Model Training Performance
RMSE: 1542.7809980669274
MAE: 1065.9801227931252
R2 score 85.42910870129124
===================================


DecisionTreeRegressor
Model Training Performance
RMSE: 843.9329975571569
MAE: 427.3413978494624
R2 score 95.63992969709093
===================================

C:\Users\win\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor
Model Training Performance
RMSE: 625.4415228691598
MAE: 313.81789077940135
R2 score 97.60530075623915
===================================

C:\Users\win\anaconda3\Lib\site-packages\sklearn\ensemble\_gb.py:424: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingRegressor
Model Training Performance
RMSE: 631.0416771689953
MAE: 334.90122325413904
R2 score 97.56222486861164
===================================

C:\Users\win\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AdaBoostRegressor
Model Training Performance
RMSE: 1470.930083195344
MAE: 1063.4420234690765
R2 score 86.75470558149716
===================================

C:\Users\win\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# Find index of best R2 score
best_r2_index = np.argmax(r2_list)

# Get the best model name
best_model_name = model_list[best_r2_index]

# Get the best model
best_model = models[best_model_name]

print("Best Model:", best_model_name)
print("Best R2 Score:", r2_list[best_r2_index])